// --------------------------------------------
// カラー
// --------------------------------------------
$color-white: #fff;
$color-shadow: #f1f3f5;

$colorMain: #333;
$colorSub: #ececec;
$colorThird: #999;


// --------------------------------------------
// 背景
// --------------------------------------------
$fontWeightSectionTtl: 700;


// --------------------------------------------
// 幅
// --------------------------------------------
$minWidthPc: 840px;
$maxWidthSp: 90%;
$maxWidthPc: 80%;
$maxWidthHeaderMenuPc: 70%;
$baseWidthServiceIcon: 2;


// --------------------------------------------
// 高さ
// --------------------------------------------
$heightHeaderSp: 60px;
$heightHeaderPc: 60px;


// --------------------------------------------
// 背景
// --------------------------------------------
$backgroundHeaderSp: rgba(255, 255, 255, 0.3);
// $backgroundHeaderPc: $color-white;
$backgroundHeaderPc: rgba(255, 255, 255, 0.5);
$backgroundFooter: $colorSub;