@charset "UTF-8";
* {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

a.underline {
  position: relative;
}
a.underline:after {
  position: absolute;
  bottom: -4px;
  left: -10%;
  content: "";
  width: 0;
  height: 1.5px;
  background-color: #333;
  transition: 0.3s;
}
a.underline:hover:after {
  width: 120%;
}

a {
  font-size: 16px; /*IE9以前に対応する*/
  font-size: 1rem;
}
@media screen and (min-width: 840px) {
  a {
    font-size: 20px; /*IE9以前に対応する*/
    font-size: 1.25rem;
  }
}

p {
  line-height: 2;
  font-size: 16px; /*IE9以前に対応する*/
  font-size: 1rem;
}
@media screen and (min-width: 840px) {
  p {
    font-size: 20px; /*IE9以前に対応する*/
    font-size: 1.25rem;
  }
}

h1, h2, h3 {
  font-weight: 800;
  font-size: 26px; /*IE9以前に対応する*/
  font-size: 1.625rem;
}
@media screen and (min-width: 840px) {
  h1, h2, h3 {
    font-size: 30px; /*IE9以前に対応する*/
    font-size: 1.875rem;
  }
}

img {
  width: 100%;
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 90%;
}
@media screen and (min-width: 840px) {
  .wrapper {
    max-width: 80%;
  }
}

.section {
  padding: 15% 0;
}
.section__ttl, .section__description {
  text-align: center;
}
.section__ttl {
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  letter-spacing: 5px;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
}
.section__container {
  margin-top: 30px;
}
@media screen and (min-width: 840px) {
  .section__container {
    margin-top: 70px;
  }
}

.is-pc {
  display: none;
}
@media screen and (min-width: 840px) {
  .is-pc {
    display: block;
  }
}

@media screen and (min-width: 840px) {
  .is-sp {
    display: none;
  }
}

.noScroll {
  overflow: hidden;
}

.TextTyping {
  text-align: center;
  font-size: 36px; /*IE9以前に対応する*/
  font-size: 2.25rem;
}
@media screen and (min-width: 840px) {
  .TextTyping {
    font-size: 40px; /*IE9以前に対応する*/
    font-size: 2.5rem;
  }
}
.TextTyping span {
  display: none;
}
.TextTyping::after {
  content: "|";
  animation: typinganime 0.8s ease infinite;
}

@keyframes typinganime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.star5_rating {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC; /* グレーカラー 自由に設定化 */
  /*font-size: 30px; フォントサイズ 自由に設定化 */
}
.star5_rating:before, .star5_rating:after {
  content: "★★★★★";
}
.star5_rating:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after {
  width: 100%;
} /* 星5 */
.star5_rating[data-rate="4.5"]:after {
  width: 90%;
} /* 星4.5 */
.star5_rating[data-rate="4"]:after {
  width: 80%;
} /* 星4 */
.star5_rating[data-rate="3.5"]:after {
  width: 70%;
} /* 星3.5 */
.star5_rating[data-rate="3"]:after {
  width: 60%;
} /* 星3 */
.star5_rating[data-rate="2.5"]:after {
  width: 50%;
} /* 星2.5 */
.star5_rating[data-rate="2"]:after {
  width: 40%;
} /* 星2 */
.star5_rating[data-rate="1.5"]:after {
  width: 30%;
} /* 星1.5 */
.star5_rating[data-rate="1"]:after {
  width: 20%;
} /* 星1 */
.star5_rating[data-rate="0.5"]:after {
  width: 10%;
} /* 星0.5 */
.star5_rating[data-rate="0"]:after {
  width: 0%;
} /* 星0 */
.header {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 60px;
}
@media screen and (min-width: 840px) {
  .header {
    background-color: rgba(255, 255, 255, 0.5);
    height: 60px;
  }
}
.header .wrapper {
  height: 100%;
}
@media screen and (min-width: 840px) {
  .header .wrapper {
    max-width: 840px;
  }
}
.headerMenu {
  height: 100%;
}
@media screen and (min-width: 840px) {
  .headerMenu {
    max-width: 840px;
    margin: 0 auto;
  }
}
.headerMenu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.hamburgerMenu {
  /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
  position: fixed;
  z-index: 999;
  /*ナビの位置と形状*/
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh; /*ナビの高さ*/
  /*背景を少し透過させる*/
  background: rgba(255, 255, 255, 0.9);
  /*動き*/
  transition: all 0.6s;
}
.hamburgerMenu.active {
  right: 0;
}
.hamburgerMenu__list {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hamburgerMenu__list--item {
  list-style: none;
  text-align: center;
}
.hamburgerMenu__list--item a {
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.hamburgerBtn {
  position: fixed;
  z-index: 9999; /*ボタンを最前面に*/
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.hamburgerBtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #333;
  width: 50%;
}
.hamburgerBtn span:nth-of-type(1) {
  top: 15px;
}
.hamburgerBtn span:nth-of-type(2) {
  top: 23px;
}
.hamburgerBtn span:nth-of-type(3) {
  top: 31px;
}
.hamburgerBtn.active span:nth-of-type(1) {
  top: 18px;
  transform: translateY(6px) rotate(-45deg);
}
.hamburgerBtn.active span:nth-of-type(2) {
  opacity: 0;
}
.hamburgerBtn.active span:nth-of-type(3) {
  top: 30px;
  transform: translateY(-6px) rotate(45deg);
}

main {
  padding: 70px 0;
}
@media screen and (min-width: 840px) {
  main {
    padding: 110px 0;
  }
}

.box {
  background-color: aqua;
  height: 150vh;
}

#test .box {
  background-color: darkcyan;
  height: 50vh;
}

.fv {
  height: 100vh;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 840px) {
  .fv {
    height: 100vh;
  }
}

.container {
  text-align: center;
  padding-bottom: 30%;
}
@media screen and (min-width: 840px) {
  .container {
    padding-bottom: 0px;
  }
}
.container h1 {
  font-size: 32px; /*IE9以前に対応する*/
  font-size: 2rem;
}

/*スクロールダウン全体の場所*/
.scrollDown {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 1%;
  right: 50%;
  /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
}
.scrollDown span {
  /*描画位置*/
  position: absolute;
  left: -25px;
  bottom: 38px;
  /*テキストの形状*/
  color: #333;
  font-size: 1rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  writing-mode: vertical-rl;
}
.scrollDown:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 30px;
  right: -9px;
  /*矢印の形状*/
  width: 1px;
  height: 30px;
  background: #333;
  transform: skewX(-31deg);
}
.scrollDown:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 30px;
  right: 0;
  /*矢印の形状*/
  width: 1px;
  height: 70px;
  background: #333;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
@media screen and (min-width: 840px) {
  .profile {
    display: flex;
    justify-content: center;
  }
}
.profile__img {
  text-align: center;
}
@media screen and (min-width: 840px) {
  .profile__img {
    margin-right: 7%;
  }
}
.profile__img > img {
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 840px) {
  .profile__img > img {
    width: 384px;
  }
}
.profile__text {
  margin-top: 40px;
}
@media screen and (min-width: 840px) {
  .profile__text {
    margin-top: 0px;
    width: 50%;
  }
}
.profile__name {
  text-align: center;
  font-weight: 700;
  font-size: 24px; /*IE9以前に対応する*/
  font-size: 1.5rem;
}
@media screen and (min-width: 840px) {
  .profile__name {
    text-align: start;
    font-size: 28px; /*IE9以前に対応する*/
    font-size: 1.75rem;
  }
}
.profile__summary {
  margin-top: 20px;
}

.serviceList {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
@media screen and (min-width: 840px) {
  .serviceList {
    justify-content: start;
  }
}
.serviceList__item--link {
  display: inline-block;
  height: 100%;
}
.serviceList__item--link i.fa-brands {
  height: 100%;
  font-size: 2.29rem;
}
.serviceList__item--link.qiiita > svg {
  width: 2rem;
}

.footer {
  padding: 30px 0;
  background: #ececec;
  position: relative;
}
.footer.activeHamburger {
  z-index: -1;
}

.scrollTop {
  position: absolute;
  background: #ececec;
  width: 75px;
  height: 75px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50% 50% 0 0;
}

.arrowUpper {
  position: relative;
  display: inline-block;
  color: #333;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.arrowUpper::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 0;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  position: absolute;
  top: 25%;
  left: 40%;
  transform: rotate(-45deg);
}

.copyright {
  position: relative;
  z-index: 2;
  text-align: center;
}/*# sourceMappingURL=style.css.map */