@use "modules/variables" as *;
@use "modules/mixin" as *;

// --------------------------------------------------
// 共通
// --------------------------------------------------
* {
    font-family: 'Noto Sans JP', sans-serif;
    color: $colorMain;
}

a.underline {
    position: relative;

    &:after{
        position: absolute;
        bottom: -4px;
        left: -10%;
        content: '';
        width: 0;
        height: 1.5px;
        background-color: $colorMain;
        transition: .3s;
    }
    
    &:hover:after {
        width: 120%;
    }
}

a {
    @include rem(16);
    @include pc {
        @include rem(20);
    }
}

p {
    line-height: 2;
    @include rem(16);
    @include pc {
        @include rem(20);
    }
}

h1,h2,h3 {
    font-weight: 800;
    @include rem(26);
    @include pc {
        @include rem(30);
    }
}

img {
    width: 100%;
    height: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: $maxWidthSp;
    @include pc {
        max-width: $maxWidthPc;
    }
}

.section {
    padding: 15% 0;
    &__ttl,
    &__description {
        text-align: center;
    }

    &__ttl {
        font-weight: $fontWeightSectionTtl;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 5px;
        border-bottom: 1px solid $colorThird;
        padding-bottom: 10px;
    }

    &__container {
        margin-top: 30px;
        @include pc {
            margin-top: 70px;
        }
    }
}

.is-pc {
    display: none;
    @include pc {
        display: block;
    }
}

.is-sp {
    @include pc {
        display: none;
    }
}

.noScroll {
    overflow: hidden;
}

.TextTyping {
    text-align: center;
    @include rem(36);
    @include pc {
        @include rem(40);
    }

    & span {
        display: none;
    }

    &::after {
        content: "|";
        animation: typinganime .8s ease infinite;
    }
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}


.star5_rating {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC; /* グレーカラー 自由に設定化 */
    /*font-size: 30px; フォントサイズ 自由に設定化 */

    &:before,
    &:after {
        content: '★★★★★';
    }

    &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        overflow: hidden;
        white-space: nowrap;
        color: #ffcf32; /* イエローカラー 自由に設定化 */
    }
}
.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */



// --------------------------------------------------
// ヘッダー
// --------------------------------------------------
.header {
    position: fixed;
    width: 100%;
    background: $backgroundHeaderSp;
    height: $heightHeaderSp;

    @include pc {
        background-color: $backgroundHeaderPc;
        // box-shadow: $color-shadow 0 0 4px 4px;    
        height: $heightHeaderPc;
    }

    & .wrapper {
        height: 100%;
        @include pc {
            max-width: $minWidthPc;
        }
    }

    &Menu {
        height: 100%;
        @include pc {
            max-width: $minWidthPc;
            margin: 0 auto;
        }

        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
    }
}

.hamburger {
    &Menu {
        /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
        position:fixed;
        z-index: 999;
        /*ナビの位置と形状*/
        top:0;
        right: -120%;
        width:100%;
        height: 100vh;/*ナビの高さ*/
        /*背景を少し透過させる*/
        // background:#999;
        background: rgba(255, 255, 255, 0.9);
        /*動き*/
        transition: all 0.6s;

        &.active {
            right: 0;
        }

        &__list {
            /*ナビゲーション天地中央揃え*/
            position: absolute;
            z-index: 999;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);

            &--item {
                list-style: none;
                text-align: center; 

                & a {
                    text-decoration: none;
                    padding:10px;
                    display: block;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    font-weight: bold;
                }
            }
        }

    }

    &Btn {
        position:fixed;
        z-index: 9999;/*ボタンを最前面に*/
        top:10px;
        right: 10px;
        cursor: pointer;
        width: 50px;
        height:50px;
        
        & span {
            display: inline-block;
            transition: all .4s;
            position: absolute;
            left: 14px;
            height: 3px;
            border-radius: 2px;
            background-color: $colorMain;
            width: 50%;

            &:nth-of-type(1) {
                top: 15px; 
            }
            &:nth-of-type(2) {
                top: 23px;
            }
            &:nth-of-type(3) {
                top: 31px;
            }
        }

        &.active {
            & span {
                &:nth-of-type(1) {
                    top: 18px;
                    transform: translateY(6px) rotate(-45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    top: 30px;
                    transform: translateY(-6px) rotate(45deg);
                }
            }
        }
    }
}


main {
    padding: $heightHeaderSp + 10px 0;
    @include pc {
        padding: $heightHeaderPc + 50px 0;
    }
}

.box {
    background-color: aqua;
    height: 150vh;
}

#test {
    & .box {
        background-color: darkcyan;
        height: 50vh;
    }
}



// --------------------------------------------------
// ファーストビュー
// --------------------------------------------------
.fv {
    // height: calc(100vh - $heightHeaderSp);
    height: calc(100vh);
    display: grid;
    place-items: center;
    @include pc {
        height: calc(100vh);
    }
}

.container {
    text-align: center;
    padding-bottom: 30%;
    @include pc {
        padding-bottom: 0px;
    }

    & h1 {
        @include rem(32);
    }
}

/*スクロールダウン全体の場所*/
.scrollDown{
    /*描画位置※位置は適宜調整してください*/
	position:absolute;
	bottom:1%;
	right:50%;
    /*矢印の動き1秒かけて永遠にループ*/
	animation: arrowmove 1s ease-in-out infinite;

    & span {
        /*描画位置*/
	    position: absolute;
	    left: -25px;
	    bottom: 38px;
        /*テキストの形状*/
	    color: $colorMain;
	    font-size: 1rem;
	    letter-spacing: 0.05em;
	    /*縦書き設定*/
	    -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }

    &:before {
        content: "";
        /*描画位置*/
        position: absolute;
        bottom: 30px;
        right: -9px;
        /*矢印の形状*/
        width: 1px;
        height: 30px;
        background: $colorMain;
        transform: skewX(-31deg);
    }

    &:after{
        content:"";
        /*描画位置*/
        position: absolute;
        bottom: 30px;
        right: 0;
        /*矢印の形状*/
        width:1px;
        height: 70px;
        background:$colorMain;
    }
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
    0%{bottom:1%;}
    50%{bottom:3%;}
    100%{bottom:1%;}
}


// --------------------------------------------------
// プロフィール
// --------------------------------------------------
.profile {
    @include pc{
        display: flex;
        justify-content: center;
    }

    &__img {
        text-align: center;
        @include pc {
            margin-right: 7%;
        }

        & > img {
            width: 100%;
            max-width: 100%;
            @include pc {
                width: 384px;
            }
        }
    }

    &__text {
        margin-top: 40px;
        @include pc {
            margin-top: 0px;
            width: 50%;
        }
    }

    &__name {
        text-align: center;
        font-weight: $fontWeightSectionTtl;
        @include rem(24);
        @include pc {
            text-align: start;
            @include rem(28);
        }
    }

    &__summary {
        margin-top: 20px;
    }
}

.serviceList {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    @include pc {
        justify-content: start;
    }

    &__item {
        &--link {
            display: inline-block;
            height: 100%;

            & i.fa-brands {
                height: 100%;
                font-size: calc($baseWidthServiceIcon * 1.145) * 1rem;
            }

            &.qiiita > svg {
                width: calc($baseWidthServiceIcon * 1) * 1rem;
            }
        }
    }
}


// --------------------------------------------------
// フッター
// --------------------------------------------------
.footer {
    padding: 30px 0;
    background: $backgroundFooter;
    position: relative;

    &.activeHamburger {
        z-index: -1;
    }
}

.scrollTop {
    position: absolute;
    background:$backgroundFooter;
    width: 75px;
    height: 75px;
    top: 0%;
    left: 50%;
    // z-index: -1;
    transform: translate(-50%, -50%);
    border-radius: 50% 50% 0 0;
}

.arrow {
    &Upper {
        position: relative;
        display: inline-block;
        color: $colorMain;
        text-decoration: none;
        width: 100%;
        height: 100%;

        &::before {
            content: '';
            width: 15px;
            height: 15px;
            border: 0;
            border-top: solid 2px #333;
            border-right: solid 2px #333;
            position: absolute;
            top: 25%;
            left: 40%;
            transform: rotate(-45deg);
        }
    }
}

.copyright {
    position: relative;
    z-index: 2;
    text-align: center;
}